{% extends 'base.html' %}

{% block title %}
main page
{% endblock %}

{% block pagename %}<span class="fs-4">AITU Shop</span>{% endblock %}

{% block body %}

<header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Welcome to the AITU shop!</h1>
                                <p class="lead fw-normal text-white-50 mb-4">The online world of electronics, clothes, tools and other interesting things!</p>
                                {% if current_user.is_authenticated %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/products">Products</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="/home">Home</a>
                                </div>
                                {% else %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Login</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="/sign-up">Sign up</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.trLzgWlBIPX7anYIxSb-AQHaEc%26pid%3DApi&f=1&ipt=9001050f024cb0f17fd2b9f82cfd54926e3e284d1afb9b4c04388a86d5eccd3f&ipo=images" alt="..."></div>
                    </div>
                </div>
            </header>

<section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">You can find anything you want here!</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature  bg-gradient text-white rounded-3 mb-3"><img src="/static/images/icons/tshirt.png" width="18%" ></div>
                                    <h2 class="h5">Clothes</h2>
                                    <p class="mb-0">ALl type of clothes for any season: jackets, trousers, hats, coats and more.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature  bg-gradient text-white rounded-3 mb-3"><img src="/static/images/icons/desktop.png" width="18%" ></div>
                                    <h2 class="h5">Electronics</h2>
                                    <p class="mb-0">Gaming computers and laptops, vaccum cleaners, irons, TV and more. </p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature  bg-gradient text-white rounded-3 mb-3"><img src="/static/images/icons/tools.png" width="18%" ></div>
                                    <h2 class="h5">Tools</h2>
                                    <p class="mb-0">Screwdrivers, axes, hammers, pliers and more.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature  bg-gradient text-white rounded-3 mb-3"><img src="/static/images/icons/puzzle.png" width="18%" ></div>
                                    <h2 class="h5">For kids</h2>
                                    <p class="mb-0">Toys, books, food and appropriate accessories.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


<footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright © AITU Shop 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">·</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">·</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>



{% endblock %}