{% extends 'base.html' %}

{% block link %} <link rel="stylesheet" href="static/css/products.css"> {% endblock %}


{% block pagename %}<span class="fs-4">Products</span>{% endblock %}

{% block body %}
  <div class="column">
    <div class="card">
      <img src="images/adil.jpg" alt="Adil" style="width:100%">
      <div class="container">
        <h2>Adil Maralbayev</h2>
        <p class="title">CEO & Founder</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div>
        <img src="images/erasyl.jpg" alt="Erasyl" style="width:100%">
      </div>
        <div class="container">
        <h2>Rakhym Erasyl</h2>
        <p class="title">Director of bad habits</p>
        <p>There is no such thing as bad habit, rather there is bad me.</p>
        <p>Erasyl@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/samat.jpg" alt="Samat" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer of music (we don't need music)</p>
        <p>I design music, good music, bad music, nazi music, every type of music</p>
        <p>Samat@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/adil.jpg" alt="Adil" style="width:100%">
      <div class="container">
        <h2>Adil Maralbayev</h2>
        <p class="title">CEO & Founder</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>
{% endblock %}