{% extends 'base.html' %}

{% block link %} <link rel="stylesheet" href="static/css/products.css"> {% endblock %}


{% block pagename %}<span class="fs-4">Products</span>{% endblock %}

{% block body %}
  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_one.webp" alt="Adil">
      </div>
      <div class="container">
        <h2>Product one</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_three.webp" alt="Adil">
      </div>
      <div class="container">
        <h2>Product two</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_four.webp" alt="Adil">
      </div>
      <div class="container">
        <h2>Product three</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_five.jpg" alt="Adil">
      </div>
      <div class="container">
        <h2>Product four</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_six.webp" alt="Adil">
      </div>
      <div class="container">
        <h2>Product five</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_seven.jpg" alt="Adil">
      </div>
      <div class="container">
        <h2>Product six</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_eight.webp" alt="Adil">
      </div>
      <div class="container">
        <h2>Product seven</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_nine.webp" alt="Adil">
      </div>
      <div class="container">
        <h2>Product eight</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_ten.webp" alt="Adil">
      </div>
      <div class="container">
        <h2>Product nine</h2>
        <p class="title">Kaz-make-shop</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <img src="/static/images/products/pr_one.webp" alt="Adil">
      </div>
      <div class="container">
        <h2>Product ten</h2>
        <p class="title">Kaz-make-shopa</p>
        <p>I sell people and bananas, ahaha. JK not bananas.</p>
        <p>Adil@example.com</p>
      </div>
    </div>
  </div>

{% endblock %}
