{% extends 'base.html' %}

{% block title %}
Sign up
{% endblock %}

{% block pagename %}<span class="fs-4">Sign-up</span>{% endblock %}


{% block body %}
<div style="height: 180px"></div>

<body class="text-center">

<main class="form-signin w-25 m-auto">

  <form method = "POST" style="margin: 0 auto" >
    <h1 class="h3 mb-3 fw-normal">Signing up</h1>
      <div class="form-floating" >
      <input type="text"
             class="form-control"
             id="username"
             name="username"
             placeholder="enter your username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input type="email"
             class="form-control"
             id="email"
             name="email"
             placeholder="name@example.com">
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password"
             class="form-control"
             id="password1"
             name="password1"
             placeholder="Password">
      <label for="password1">Password</label>
    </div>
      <div class="form-floating">
      <input type="password"
             class="form-control"
             id="password2"
             name="password2"
             placeholder="Confirm your password">
      <label for="password2">Password confirmation</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
  </form>
  </div>
</main>
<div style="height: 301px"></div>
<footer class="footer bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright © AITU Shop 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">·</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">·</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
</footer>
</body>
{% endblock %}

